*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Space Mono', 'Arial', sans-serif;
  font-weight: 700;
}

section {
  overflow-x: hidden;
}

p {
  font-family: 'Lexend Deca', 'Arial', sans-serif;
  font-weight: 400;
}

a {
  -webkit-transition: .4s ease all;
  transition: .4s ease all;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  width: 1130px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 21px 0 22px;
  background-color: #fff;
  z-index: 3;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__checkbox {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.header__label {
  display: none;
}

.header__exit {
  display: none;
}

.header__img {
  margin-left: 5px;
}

.header__modal {
  width: 940px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-left: 58px;
}

.header__item {
  margin-right: 32px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  display: inline-block;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.header__link:hover {
  color: #FCB72B;
}

.header__btn {
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 15px;
  line-height: 25px;
  padding: 11px 36px;
  color: #fff;
  background: #FCB72B;
  border: 3px solid transparent;
  margin-left: auto;
}

.header__btn:hover {
  color: #FCB72B;
  background-color: #fff;
  border: 3px solid #FCB72B;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 21px 30px 22px 29px;
  }
}

@media screen and (max-width: 690px) {
  .header {
    padding: 21px 0 22px;
  }
  .header__list {
    margin-left: auto;
    margin-right: 10px;
  }
}

@media screen and (max-width: 600px) {
  .header__label {
    display: block;
    margin-left: 32px;
  }
  .header__exit {
    margin-left: 32px;
    display: none;
  }
  .header__img {
    margin-left: auto;
    margin-right: auto;
  }
  .header__box {
    position: fixed;
    display: none;
    top: 64px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
  }
  .header__modal {
    display: inline-block;
    width: 256px;
    max-width: 100%;
    padding: 64px 32px 24px 32px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #333A44;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 339px;
  }
  .header__item {
    margin-bottom: 24px;
  }
  .header__item:last-child {
    margin-bottom: 0;
  }
  .header__link {
    color: #E5ECF4;
  }
  .header__btn {
    margin: 0 auto;
  }
  .header__checkbox:checked ~ .header__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__checkbox:checked ~ .header__label {
    display: none;
  }
  .header__checkbox:checked ~ .header__exit {
    display: block;
  }
}

.intro {
  position: relative;
  background-image: url(../img/intro-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 96px;
}

.intro__container {
  padding: 153px 10px 152px;
}

.intro__box {
  width: 500px;
}

.intro__line {
  position: absolute;
  top: 355px;
  left: 38px;
}

.intro__img {
  position: absolute;
  top: 355px;
  left: 740px;
}

.intro__title {
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: #fff;
  margin: 0;
  margin-bottom: 40px;
}

.intro__text {
  position: relative;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  margin-left: 95px;
  margin-bottom: 40px;
}

.intro__text::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 15px;
  background-color: #FCB72B;
  left: -29px;
  top: 43%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.intro__text::after {
  content: "";
  position: absolute;
  width: 444px;
  height: 138px;
  background-image: url("../img/direction-small.svg");
  background-repeat: no-repeat;
  background-size: cover;
  right: -20px;
  top: 43%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.intro__btn {
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 15px;
  line-height: 25px;
  padding: 11px 36px;
  color: #fff;
  background: #FCB72B;
  border: 3px solid transparent;
  margin-left: 95px;
}

.intro__btn:hover {
  color: #FCB72B;
  background-color: #fff;
  border: 3px solid #FCB72B;
}

@media screen and (max-width: 768px) {
  .intro {
    background-image: url(../img/direction-small.svg), url(../img/intro-bg.png);
    background-size: 447px, cover;
    background-position-x: -127px, -644px;
    background-position-y: 473px, 0px;
  }
  .intro__container {
    padding: 137px 98px 217px 97px;
  }
  .intro__box {
    width: 573px;
    max-width: 100%;
    text-align: center;
  }
  .intro__title {
    margin-bottom: 24px;
  }
  .intro__text {
    margin-bottom: 32px;
    margin-left: 0;
  }
  .intro__text::before {
    display: none;
    content: "";
    position: absolute;
    width: 300px;
    height: 15px;
    background-color: #FCB72B;
    left: -29px;
    top: 43%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .intro__text::after {
    display: none;
    content: "";
    position: absolute;
    width: 444px;
    height: 138px;
    background-image: url("../img/direction-small.svg");
    background-repeat: no-repeat;
    background-size: cover;
    right: -20px;
    top: 43%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  .intro__btn {
    margin-left: 0;
  }
}

@media screen and (max-width: 577px) {
  .intro {
    background-size: 447px, cover;
    background-position-y: 419px, 0;
    background-position-x: -312px, right;
  }
  .intro__container {
    padding: 115px 32px 179px 32px;
  }
  .intro__text {
    margin-bottom: 34px;
  }
}

@media screen and (max-width: 418px) {
  .intro {
    background-position-y: 566px, 0;
  }
}

.guide {
  margin-top: 160px;
  margin-bottom: 200px;
}

.guide__container {
  position: relative;
}

.guide__box {
  position: relative;
}

.guide__line {
  display: inline-block;
  position: absolute;
  top: 48px;
  left: -165px;
  z-index: -1;
  width: 974px;
  max-width: 100%;
  height: 15px;
  background-color: #E5ECF4;
}

.guide__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.guide__item {
  margin-right: 30px;
}

.guide__item:last-child {
  margin-right: 0;
}

.guide__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: #FCB72B;
}

.guide__title {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
  margin: 40px 0 27px;
}

.guide__text {
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

@media screen and (max-width: 1265px) {
  .guide__list {
    margin-left: 60px;
  }
}

@media screen and (max-width: 1030px) {
  .guide__line {
    left: -60px;
    width: 775px;
  }
}

@media screen and (max-width: 888px) {
  .guide__line {
    left: -40px;
    width: 646px;
  }
  .guide__list {
    margin-left: 40px;
  }
}

@media screen and (max-width: 768px) {
  .guide {
    margin-top: 0;
    margin-bottom: 145px;
  }
  .guide__container {
    padding: 0 98px 0 97px;
  }
  .guide__box {
    padding-top: 122px;
  }
  .guide__line {
    width: 15px;
    height: 512px;
    left: 44px;
    top: 0;
  }
  .guide__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .guide__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .guide__item:last-child {
    margin-bottom: 0;
  }
  .guide__info {
    width: 398px;
    max-width: 100%;
  }
  .guide__title {
    margin-top: 0;
    margin-bottom: 27px;
  }
}

@media screen and (max-width: 700px) {
  .guide__container {
    padding: 0 48px 0 47px;
  }
  .guide__info {
    width: 360px;
  }
}

@media screen and (max-width: 600px) {
  .guide {
    margin-top: 120px;
  }
  .guide__container {
    padding: 0 32px;
  }
  .guide__line {
    display: none;
  }
  .guide__list {
    text-align: center;
  }
  .guide__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 48px;
  }
  .guide__item:last-child {
    margin-bottom: 0;
  }
  .guide__img {
    margin: 0 auto;
  }
  .guide__info {
    width: 100%;
  }
  .guide__title {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

.good-sides {
  margin-bottom: 329px;
}

.good-sides__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.good-sides__item {
  position: relative;
  width: 1110px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 155px;
}

.good-sides__item:nth-child(1)::before {
  position: absolute;
  right: -165px;
  bottom: 10px;
  content: "";
  width: 735px;
  height: 146px;
  background-image: url("../img/direction-to-left.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.good-sides__item:nth-child(1)::after {
  position: absolute;
  right: -509px;
  content: "";
  width: 445px;
  height: 445px;
  background: #E5ECF4;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.good-sides__item:nth-child(2) {
  margin-bottom: 160px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.good-sides__item:nth-child(2)::before {
  position: absolute;
  top: 0;
  left: -550px;
  content: "";
  width: 735px;
  height: 146px;
  background-image: url("../img/direction-to-right.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.good-sides__item:nth-child(2)::after {
  position: absolute;
  top: 0;
  left: -509px;
  content: "";
  width: 445px;
  height: 445px;
  background: #E5ECF4;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.good-sides__item:last-child {
  margin-bottom: 0;
}

.good-sides__item:last-child::before {
  position: absolute;
  top: 85px;
  right: -545px;
  content: "";
  width: 735px;
  height: 146px;
  background-image: url("../img/direction-to-left.svg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}

.good-sides__item:last-child::after {
  position: absolute;
  top: 0;
  right: -509px;
  content: "";
  width: 445px;
  height: 445px;
  background: #E5ECF4;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.good-sides__info {
  width: 445px;
}

.good-sides__title {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
}

.good-sides__text {
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  margin: 24px 0 40px;
}

.good-sides__btn {
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  padding: 11px 41px;
  color: #fff;
  background: #FCB72B;
  border: 3px solid transparent;
}

.good-sides__btn:hover {
  color: #FCB72B;
  background-color: #fff;
  border: 3px solid #FCB72B;
}

.good-sides__img {
  border-radius: 50%;
}

@media screen and (max-width: 840px) {
  .good-sides {
    margin-bottom: 104px;
  }
  .good-sides__container {
    padding: 0 98px 0 97px;
  }
  .good-sides__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 128px;
  }
  .good-sides__item:nth-child(1)::before {
    top: 307px;
    left: -47px;
  }
  .good-sides__item:nth-child(1)::after {
    top: 0;
    right: -448px;
  }
  .good-sides__item:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 120px;
  }
  .good-sides__item:nth-child(2)::before {
    top: 0px;
    left: -483px;
  }
  .good-sides__item:nth-child(2)::after {
    top: 0;
    left: -448px;
  }
  .good-sides__item:last-child {
    margin-bottom: 0;
  }
  .good-sides__item:last-child::before {
    top: 85px;
    left: 322px;
  }
  .good-sides__item:last-child::after {
    top: 0;
    right: -448px;
  }
  .good-sides__info {
    width: 100%;
    text-align: center;
  }
  .good-sides__title {
    width: 457px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 64px;
  }
  .good-sides__text {
    margin: 40px 0;
  }
}

@media screen and (max-width: 700px) {
  .good-sides__container {
    padding: 0 48px 0 47px;
  }
}

@media screen and (max-width: 548px) {
  .good-sides__item:nth-child(1)::before {
    top: 173px;
    left: 1px;
  }
  .good-sides__item:nth-child(1)::after {
    display: none;
  }
  .good-sides__item:nth-child(2)::before {
    top: 0px;
    right: 81px;
  }
  .good-sides__item:nth-child(2)::after {
    display: none;
  }
  .good-sides__item:nth-child(3)::before {
    top: 7px;
    left: 130px;
  }
  .good-sides__item:nth-child(3)::after {
    display: none;
  }
  .good-sides__title {
    margin: 0;
    margin-top: 64px;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.42857px;
  }
  .good-sides__text {
    font-size: 15px;
    line-height: 25px;
  }
  .good-sides__img {
    width: 311px;
    height: 311px;
  }
  .good-sides__btn {
    font-size: 15px;
    line-height: 25px;
  }
}

@media screen and (max-width: 402px) {
  .good-sides {
    margin-bottom: 120px;
  }
  .good-sides__container {
    padding: 0 32px;
  }
  .good-sides__title {
    margin-top: 56px;
  }
  .good-sides__text {
    margin: 32px 0;
  }
}

.call {
  background: #495567;
}

.call__wrapper {
  position: relative;
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  background-image: url(../img/three-circle.svg);
  background-repeat: no-repeat;
  background-size: 1000px, 347px;
  background-position: 450px 140px;
}

.call__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 102px;
  padding-bottom: 102px;
}

.call__title {
  width: 415px;
  max-width: 100%;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #FFFFFF;
}

.call__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.call__item {
  margin-right: 18px;
}

.call__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 840px) {
  .call__wrapper {
    background-position-x: -165px;
  }
  .call__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 62px;
    padding-bottom: 62px;
  }
  .call__title {
    text-align: center;
    margin-bottom: 40px;
  }
  .call__item {
    margin-right: 13px;
  }
  .call__item:last-child {
    margin-right: 0;
  }
  .call__img {
    height: 40px;
  }
  .appstore {
    width: 114px;
  }
  .googleplay {
    width: 130px;
  }
}

@media screen and (max-width: 548px) {
  .call__wrapper {
    background-position-x: right;
  }
  .call__container {
    padding: 62px 32px;
  }
  .call__title {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.42857px;
  }
}

.footer {
  background: #333A44;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 10px 32px;
}

.footer__logo {
  margin-left: 3px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-left: 59px;
}

.footer__item {
  margin-right: 32px;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__link {
  display: inline-block;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.footer__link:hover {
  color: #FCB72B;
}

.footer__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin-left: auto;
}

.footer__img {
  margin-right: 24px;
}

.footer__img:last-child {
  margin-right: 0;
}

.footer__img--link {
  fill: #FCB72B;
}

.footer__img--link:hover {
  fill: #E5ECF4;
}

@media screen and (max-width: 600px) {
  .footer__list {
    margin-left: 20px;
  }
  .footer__item {
    margin-right: 16px;
  }
  .footer__item:last-child {
    margin-right: 0;
  }
  .footer__img {
    margin-right: 10px;
  }
  .footer__img:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 484px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 64px 127px 88px 128px;
  }
  .footer__logo {
    margin: 0 auto;
  }
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 41px 0 85px;
  }
  .footer__item {
    margin: 0;
    margin-bottom: 16px;
  }
  .footer__item:last-child {
    margin-bottom: 0;
  }
  .footer__media {
    margin: 0 auto;
  }
}
/*# sourceMappingURL=main.css.map */