*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Space Mono', 'Arial', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Lexend Deca', 'Arial', sans-serif;
  font-weight: 400;
}

.container {
  width: 1130px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  padding: 21px 0 22px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__checkbox {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.header__label {
  display: none;
}

.header__img {
  margin-left: 5px;
}

.header__box {
  width: 940px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-left: 58px;
}

.header__item {
  margin-right: 32px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  display: inline-block;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.header__link:hover {
  color: #FCB72B;
}

.header__btn {
  display: inline-block;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 15px;
  line-height: 25px;
  padding: 11px 36px;
  color: #fff;
  background: #FCB72B;
  border: 3px solid transparent;
  margin-left: auto;
}

.header__btn:hover {
  color: #FCB72B;
  background-color: #fff;
  border: 3px solid #FCB72B;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 21px 30px 22px 29px;
  }
}

@media screen and (max-width: 690px) {
  .header {
    padding: 21px 0 22px;
  }
  .header__list {
    margin-left: auto;
    margin-right: 10px;
  }
}

@media screen and (max-width: 600px) {
  .header__label {
    display: block;
    margin-left: 32px;
  }
  .header__img {
    margin-left: auto;
    margin-right: auto;
  }
  .header__box {
    display: none;
    padding: 64px 0 24px 32px0;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 64px;
    right: 0;
    left: 0;
    bottom: 0;
    background: #333A44;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 339px;
  }
  .header__item {
    margin-bottom: 24px;
  }
  .header__item:last-child {
    margin-bottom: 0;
  }
  .header__checkbox:checked ~ .header__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=main.css.map */