.good-sides {
    margin-bottom: 329px;
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        width: 1110px;
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 155px;
        &:nth-child(2) {
            margin-bottom: 160px;
            flex-direction: row-reverse;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__info {
        width: 445px;
    }
    &__title {
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -2.14286px;
        color: #495567;
    }
    &__text {
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
        margin: 24px 0 40px;
    }
    &__btn {
        display: inline-block;
        text-decoration: none;
        font-size: 15px;
        line-height: 25px;
        padding: 11px 41px;
        color:#fff;
        background: #FCB72B;
        border:3px solid transparent;
        &:hover {
            color:#FCB72B;
            background-color: #fff;
            border: 3px solid #FCB72B;
        }
    }
    &__img {
        border-radius: 50%;
    }
}
@media screen and (max-width: 840px) {
    .good-sides {
        margin-bottom: 104px;
        &__container {
            padding: 0 98px 0 97px;
        }
        &__item {
            flex-direction: column-reverse;
            margin-bottom: 128px;
            &:nth-child(2) {
                flex-direction: column-reverse;
                margin-bottom: 120px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__info {
            width: 100%;
            text-align: center;
        }
        &__title {
            width: 457px;
            max-width: 100%;
            margin: 0 auto;
            margin-top: 64px;
        }
        &__text {
            margin: 40px 0;
        }
    }
}
@media screen and (max-width: 700px) {
    .good-sides__container {
        padding: 0 48px 0 47px;
    }
}
@media screen and (max-width:548px) {
    .good-sides {
        &__title {
            margin: 0;
            margin-top: 64px;
            font-size: 32px;
            line-height: 32px;
            letter-spacing: -1.42857px;
        }
        &__text {
            font-size: 15px;
            line-height: 25px;
        }
        &__img {
            width: 311px;
            height: 311px;
        }
        &__btn {
            font-size: 15px;
            line-height: 25px;
        }
    }
}
@media screen and (max-width: 402px) {
    margin-bottom: 120px;
    .good-sides__container {
        padding: 0 32px;
    }
    .good-sides__title {
        margin-top: 56px;
    }
    .good-sides__text {
        margin: 32px 0;
    }
}