.guide {
    margin-bottom: 200px;
    &__container {
        position: relative;
    }
    &__line {
        position: absolute;
        top: 48px;
        left: -165px;
        z-index: -1;
        width: 974px;
        height: 15px;
        background-color: #E5ECF4;
        // border: 15px solid #E5ECF4;
    }
    &__list {
        display: flex;
        list-style-type: none;
        // margin-left: 165px;
    }
    &__item {
        margin-right: 30px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__img {
        // z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 96px;
        height: 96px;
        border-radius: 50%;
        background: #FCB72B;
    }
    &__title {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -1.07143px;
        color: #495567;
        margin: 40px 0 27px;
    }
    &__text {
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
    }
}